// .bg-image {
// background: url(../../assets/img/EO.jpg) no-repeat 100% 100%;
//background-repeat: no-repeat;
// background-position: center;
//background-size: cover;
// background-color: transparent;
//}
// ion-content {
//     --background: url('../../assets/img/EO.jpg') no-repeat 50% 10%;
// }
ion-content {
    --background: url(../../assets/img/EO.jpg) no-repeat center/cover fixed;
}

page-home {
    .fixllw {
        height: 120px;
        margin-bottom: 7px;
    }
}